<div class="container">
  <app-header></app-header>
  <div class="container1">
    <div class="main">
      <div class="container2">
        <h1 class="text headingOne">You Work With</h1>
        <h1 class="text1">Soft Design System</h1>
        <p class="text2 lead">
          <span class="text3">
            The time is now for it be okay to be great. Subscribe now and get
            notified when it&apos;s launched!
          </span>
        </p>
        <div class="container3">
          <input
            type="text"
            placeholder="Email here"
            class="textinput small input"
          />
          <secondary-button button="Subscribe"></secondary-button>
        </div>
      </div>
      <div class="grid">
        <img
          alt="image"
          src="/assets/playground_assets/iphone-3-1000w.png"
          class="image"
        />
        <img
          alt="image"
          src="/assets/playground_assets/iphone-2-1000w.png"
          class="image01"
        />
        <img
          alt="image"
          src="/assets/playground_assets/iphone-4-1000w.png"
          class="image02"
        />
        <img
          alt="image"
          src="/assets/playground_assets/iphone-1-1000w.png"
          class="image03"
        />
        <img
          alt="image"
          src="/assets/playground_assets/iphone-2-1000w.png"
          class="image04"
        />
        <img
          alt="image"
          src="/assets/playground_assets/iphone-4-1000w.png"
          class="image05"
        />
        <img
          alt="image"
          src="/assets/playground_assets/iphone-1-1000w.png"
          class="image06"
        />
        <img
          alt="image"
          src="/assets/playground_assets/iphone-3-1000w.png"
          class="image07"
        />
        <img
          alt="image"
          src="/assets/playground_assets/iphone-2-1000w.png"
          class="image08"
        />
        <img
          alt="image"
          src="/assets/playground_assets/iphone-4-1000w.png"
          class="image09"
        />
        <img
          alt="image"
          src="/assets/playground_assets/iphone-1-1000w.png"
          class="image10"
        />
        <img
          alt="image"
          src="/assets/playground_assets/iphone-3-1000w.png"
          class="image11"
        />
        <img
          alt="image"
          src="/assets/playground_assets/iphone-4-1000w.png"
          class="image12"
        />
        <img
          alt="image"
          src="/assets/playground_assets/iphone-1-1000w.png"
          class="image13"
        />
        <img
          alt="image"
          src="/assets/playground_assets/iphone-3-1000w.png"
          class="image14"
        />
        <img
          alt="image"
          src="/assets/playground_assets/iphone-2-1000w.png"
          class="image15"
        />
      </div>
    </div>
  </div>
  <footer-gray></footer-gray>
</div>
