<footer class="footer">
  <div class="container">
    <div class="container1">
      <span class="text">SOFT</span>
      <span>Copyright © 2021 Soft by Creative Tim.</span>
    </div>
    <div class="container2">
      <div class="container3">
        <span class="text02 large">Company</span>
        <span class="text03 large">About Us</span>
        <span class="text04 large">Careers</span>
        <span class="text05 large">Press</span>
      </div>
      <div class="container4">
        <span class="text06 large">Pages</span>
        <span class="text07 large">Login</span>
        <span class="text08 large">Register</span>
        <span class="text09 large">About</span>
      </div>
      <div class="container5">
        <span class="text10 large">Products</span>
        <span class="text11 large">Free</span>
        <span class="text12 large">PRO</span>
        <span class="text13 large">Latest</span>
      </div>
    </div>
  </div>
  <img
    alt="image"
    src="/assets/playground_assets/waves-white.svg"
    class="image"
  />
</footer>
