<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <div class="component-container01">
      <div class="component-container02">
        <img
          alt="image"
          src="../public/playground_assets/logo-asana.svg"
          class="component-image"
        />
      </div>
      <div class="component-container03">
        <img
          alt="image"
          src="../public/playground_assets/logo-slack.svg"
          class="component-image1"
        />
      </div>
      <div class="component-container04">
        <img
          alt="image"
          src="../public/playground_assets/logo-google-drive.svg"
          class="component-image2"
        />
      </div>
    </div>
    <div class="component-container05">
      <div class="component-container06">
        <img
          alt="image"
          src="../public/playground_assets/logo-shopify.svg"
          class="component-image3"
        />
      </div>
      <div class="component-container07">
        <img
          alt="image"
          src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/logos/small-logos/logo-apple.svg"
          class="component-image4"
        />
      </div>
      <div class="component-container08">
        <img
          alt="image"
          src="../public/playground_assets/logo-invision.svg"
          class="component-image5"
        />
      </div>
    </div>
    <div class="component-container09">
      <div class="component-container10">
        <img
          alt="image"
          src="../public/playground_assets/logo-attlasian.svg"
          class="component-image6"
        />
      </div>
      <div class="component-container11">
        <img
          alt="image"
          src="../public/playground_assets/logo-weave.svg"
          class="component-image7"
        />
      </div>
    </div>
  </div>
</div>
