<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <span class="footer-text">Archicad Libraries</span>
        <span>Copyright © 2022</span>
      </div>
      <div class="footer-container2">
        <div class="primary-pink-button-container rootClassName2">
          <button class="primary-pink-button-button button buttonSmall">
            <span>explore all</span>
          </button>
        </div>
      </div>
    </div>
    <img
      alt="image"
      src="../public/playground_assets/waves-white.svg"
      class="footer-image"
    />
  </footer>
</div>
