<div data-role="Header" class="header">
  <nav class="nav">
    <div class="container">
      <a routerLink="/" class="navlink large">Archicad Libraries</a>
      <div class="container1">
        <div class="container2">
          <a
            href="https://bimcontent.com/content/?_format=archicad&amp;_sort=date_asc"
            class="link"
          >
            <primary-pink-button
              button="explore now"
              class="component"
            ></primary-pink-button>
          </a>
        </div>
        <div data-type="BurgerMenu" class="burger-menu">
          <svg viewBox="0 0 1024 1024" class="icon">
            <path
              d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </nav>
  <div data-type="MobileMenu" class="mobile-menu">
    <div class="top">
      <a routerLink="/" class="navlink1 large">Soft UI Design System</a>
      <div data-type="CloseMobileMenu" class="close-menu">
        <svg viewBox="0 0 1024 1024" class="icon2">
          <path
            d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
          ></path>
        </svg>
      </div>
    </div>
    <div class="mid">
      <div class="menu">
        <a routerLink="/" class="navlink2 large">Home</a>
        <a routerLink="/profile" class="navlink3 large">Profile</a>
        <a routerLink="/coming-soon" class="navlink4 large">Coming Soon</a>
      </div>
    </div>
    <div class="bot">
      <primary-pink-button button="buy now"></primary-pink-button>
    </div>
  </div>
</div>
